<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>[ 메인 페이지 ]</h2>
	<p>
	<ul>
		<li><a href="/requestMapping">HTTP 요청 받기 (@RequestMapping)</a></li>
		<li><a href="/requestParam">핸들러 메소드 - 파라미터 받기 (@RequestParam)</a></li>
		<li><a href="/modelAttribute">핸들러 메소드 - 파라미터 받기 (@ModelAttribute)</a></li>
		<li><a href="/url/forward?param1=userA">페이지 이동 - forward</a></li>
		<li><a href="/url/redirect?param1=userA">페이지 이동 - redirect</a></li>
	</ul>

</body>
</html>